/* Color variables */
$light-blue: hsl(178, 42%, 76%);
$purple: hsl(294, 25%, 22%);

$red: hsl(354, 79%, 51%);
$dark-red: hsl(346, 66%, 31%);

$white: hsl(0, 0%, 100%);
$grey: hsl(0, 0%, 98%);

$background: $white;
$background-dark: $grey;

$color-text: $purple;
$color-text-alt: $red;
$color-text-light: $white;
