@use "colors";

/* Font variables */
$font-family-base: "Open Sans", sans-serif;
$font-size-base: 1.4rem;
$line-height-base: 1.2;

$font-size-large: 2.4rem;
$font-size-medium: 1.8rem;
$font-size-small: 1.2rem;
$font-size-tiny: 1rem;
