@use "../abstracts/" as abstracts;

.model-options-section {
  background: abstracts.$background-dark;
}

.model-options-form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
}

.model-options-form > .radio-list {
  border-right: abstracts.$purple solid 1px;
  padding: 2rem;

  &:last-of-type {
    border-right: none;
  }

  label {
    display: flex;
    max-width: 19rem;
    align-items: flex-start;

    p {
      margin: 0;
    }
  }

  h6 {
    margin: 0;
  }
}

.model-options-form__actions {
  flex-grow: 2;
  text-align: end;

  button + button {
    margin-left: 1rem;
  }
}
